body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: lightgray;
}

.screen::before,
.screen::after {
    content: '';
    position: absolute;
    background-color: red;
}

.screen::before {
    width: 1px;
    height: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.screen::after {
    width: 10px;
    height: 1px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
